<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:fragment="header">
    <title>Portfolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/jumbotron-narrow.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/navbar-top-fixed.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/app/main.js"></script>
</head>