<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<div class="container">
    <div class="jumbotron">
        <ul>
            <li class="main-list">
                <a href="/members" class="main-menu menu1">회원 관리</a>
            </li>
            <li class="main-list">
                <a href="/items" class="main-menu menu2">상품 관리</a>
            </li>
            <li class="main-list">
                <a href="/orders" class="main-menu menu3">주문 관리</a>
            </li>
            <li class="main-list">
                <a href="/posts" class="main-menu menu4">고객센터</a>
            </li>
        </ul>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>